<a href="https://colab.research.google.com/github/adhilrehman/Advanced-Python/blob/main/day_1_as_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print("hello","how are you?")
print("hello","how are you?",sep=",")
print(f"my name is {john} and iam {age} years old")

hello world
hello how are you?
hello,how are you?

NameError: name 'john' is not defined

In [ ]:
name="john"
age=19
print(f'my name is(name)and iam {age} years old')

In [ ]:
name =input("my name is:")
adm_no =int(input("adm no is:"))
address =input("my address is:")
dob =int(input("my dob is:"))
phone =int(input("no is:"))
email =input("my email is:")

In [ ]:
name =input("my name is:")
adm_no =int(input("adm no is:"))
address =input("my address is:")
dob =int(input("my dob is:"))
phone =int(input("no is:"))
email =input("my email is:")

In [ ]:
name =input("enter your  name is:")
adm_no =input("enter your adm no:")
address =input("enter your address:")
dob =input("enter your dob :")
phone =int(input("enter your no:"))
email =input("enteryour email:")

In [ ]:
print(name,adm_no,address,dob,phone,email)

In [ ]:
print(f"name:{name}")
print(f"adm_no:{adm_no}")
print(f"address:{address}")
print(f"dob:{dob}")
print(f"phone:{phone}")
print(f"email:{email}")

In [ ]:
first_name="john"
last_name="locke"
full_name=first_name+" "+last_name
print(full_name)

In [ ]:
news="""The US has already strengthened
 its navy and air force,
  and Iran is also on high alert."""
print(len(news))

In [ ]:
news[0]

In [ ]:
news[-1]

In [ ]:
news[0:17]

In [ ]:
news[:20]

In [ ]:
news[15:]

In [ ]:
news[15::2]

In [ ]:
news.upper()

In [ ]:
news.lower()

In [ ]:
news.title()

In [ ]:
news.swapcase()

In [ ]:
news.capitalize()

In [ ]:
news.encode()

In [ ]:
news.strip()

In [ ]:
news.rsplit()

In [ ]:
news.split()

In [ ]:
num1=20
num2=6
print(num1+num2)

In [ ]:
num1-num2

In [ ]:
num1/num2

In [ ]:
num1*num2

NameError: name 'num1' is not defined

In [ ]:
num1**num2

In [ ]:
num1%num2

In [ ]:
num1>num2

In [ ]:
num1<num2

In [ ]:
num1==num2

In [ ]:
num1!=num2

In [ ]:
num1>=num2

In [ ]:
num1<=num2

In [ ]:
print(10>5 and 7>1)

In [ ]:
print(10>3 or 10>12)

In [ ]:
print(not(10>3 and 10>2))

In [ ]:
salary=int(input("enter your salary"))
monthly_expense=int(input("enter your monthly expense"))
savings=salary-monthly_expense
print(f"your savings is {savings}")

In [ ]:
current_salary=10000
new_salary=current_salary+((current_salary/100)*12)
print(f"newsalary salary is {new_salary}")

In [ ]:
num1=int(input("enter the received amount"))
num2=1000
print(num1>=num2)
print(num1%10)
print(num1//10)

In [ ]:
 fruits=["apple","orange","grapes"]
 print(fruits)

In [ ]:
type(fruits)

In [ ]:
fruits[0]

In [ ]:
fruits[-1]

In [ ]:
len(fruits)

In [ ]:
new_list=["apple","orange","grapes","kiwi"]

In [ ]:
final_list=fruits+new_list
print(final_list)

In [ ]:
final_list.append("curd")
print(final_list)

In [ ]:
final_list.insert(2,"icecream")
print(final_list)

In [ ]:
final_list.reverse()
print(final_list)

In [ ]:
final_list.sort()
print(final_list)

In [ ]:
final_list.pop()
print(final_list)

In [ ]:
final_list.pop(2)
print(final_list)

In [ ]:
final_list.remove("curd")
print(final_list)

In [ ]:
final_list.clear()
print(final_list)

In [ ]:
 playlist=["jhol","ishq","mehbooba"]
 english_songs=["shape of you","perfect","escapism"]
 playlist.extend(english_songs)
 print(playlist)

In [ ]:
playlist.pop(1)
print(playlist)

In [ ]:
nums=[10,20,30,19,23]
max(nums)

In [ ]:
min(nums)

In [ ]:
sum(nums)

In [ ]:
avg=sum(nums)/len(nums)
print(avg)

In [ ]:
nums.index(max(nums))

In [ ]:
fruits=("apple","orange","kiwi")
type(fruits)

In [ ]:
veggies=("carrot","potato","raddish")
fruits+=veggies
print(fruits)

In [ ]:
fruits={"apple","orange","kiwi"}
type(fruits)

In [ ]:
fruits={"apple","orange","kiwi","apple"}
print(fruits)

In [ ]:
fruits.pop()

In [ ]:
car={
    "brand":"ford",
    "model":"mustang",
    "year":"2025",
    "cur_year":"2025"
}
print(car)

In [ ]:
car["brand"]

In [ ]:
type(car)

In [ ]:
car1=dict(brand="maruthi",model="swift",year="2020")
car1

In [ ]:
car1[
    "year"]

In [ ]:
car1.get("model")

In [ ]:
len(car1)

In [ ]:
car1.keys()

In [ ]:
car1["model"]="alto"
car1

In [ ]:
car1["colour"]="grey"
car1

In [ ]:
car1.update({"cylinder":6,"engine":"petrol","colour":"black"})
car1

In [ ]:
car1.popitem()
car1.pop("engine")
del car1["year"]

car1

In [ ]:
emp1={"name":"raju",
      "salary":"45000",
      "dept":"HR"}
emp2={"name":"bolu",
      "salary":"35000",
      "dept":"IT"}
emp3={"name":"dolu",
      "salary":"40000",
      "dept":"finance"}
employees={"employee1":emp1,
           "employee2":emp2,
           "employee3":emp3}
employees

In [ ]:
emp1={'name': 'raju',
      'salary': '45000',
      'dept': 'HR'}
emp2={'name': 'bolu',
      'salary': '35000',
      'dept': 'IT'}
emp3={'name': 'dolu',
      'salary': '40000',
      'dept': 'finance'}
employees={'employee1': emp1,
           'employee2': emp2,
           'employee3': emp3}

employees['employee1']

In [ ]:
contact={"krish":7592872355,
        "balan":7592872354,
        "dolu":7592872354,
        "bolu":7592872353,
        "malar":7592872352,
        "nomee":7592872351}
contact

In [ ]:
movies=["chatha pacha","sarvamaya","puli","jananayakan"]
rating=[5,7,5,8]

In [ ]:
a=10
b=15
if a>b:
  print("a is greater")
else:
    print("b is greater")

In [ ]:
a=10
b=15
if a>b:
  print("a is greater")
elif a==b:
    print("a and b are equal")
else:
    print("b is greater")

In [ ]:
a=10
b=10
if a>b:
  print("a is greater")
elif a==b:
    print("a and b are equal")
elif b==2*a:
    print("b is double of a")
else:
    print("b is greater")

In [ ]:
student_mark=int(input("enter your marks"))
if student_mark>90:
  print("grade a")
elif student_mark>80:
    print("grade b")
elif student_mark>70:
      print("grade c")
elif student_mark>60:
        print("grade d")
else:
    print("grade f")

In [ ]:
student_mark=int(input("enter your marks"))
if student_mark>90:
  print("grade a")
elif student_mark>80:
    print("grade b")
elif student_mark>70:
      print("grade c")
elif student_mark>60:
        print("grade d")
else:
    print("grade f")

In [ ]:
weather=input("enter the weather")
if (weather=="sunny"):
  print("sunny day")
elif  weather=="rainy":
  print("rainy day")
elif  weather=="cloudy":
  print("cloudy day")
elif  weather=="snowy":
  print("snowy day")
else:
  print("unknown")

In [ ]:
age=20
education="high school"
if (age>=18):
  if (education=="high school"):
    print("you are eligible for college")
  else:
    print("go and study higher secondary")
else:
  print("you are not eligible")

In [ ]:
print("greater") if age>5 else print("smaller")

In [ ]:
marks=45
result="pass" if marks>30 else fail;
if result=="pass":
  print("pass")
else:
  print("fail")

In [ ]:
temparature=30
weather={"status":"hot" if temparature>30 else "cold"}
print(weather)

In [ ]:
price=[2000,3000,4000,1500,1000]
total=sum(price)
if(total>2000):
  print("you saved ",total-(total/100)*20)
elif total>1000:
    print("you saved ",total-(total/100)*10)
else:
  print("you are not eligible for discount")

In [ ]:
fruits=["apple","orange","banana"]
for fr in fruits:
  print(fr)

In [ ]:

for i in range(10):
  print(f"square of {i} is {i**2}")

In [ ]:
grocery_list=["apple","banana","milk","bread","eggs"]
for gr in grocery_list:
  if gr=="milk":
    print("milk is available")

In [ ]:
savings=[2000,2500,0,3000,1000,5000]
total=0
for sav in savings:
  if sav==0:
    continue
  print(sav)
  if sav>4000:
    print("your savings is greater than 4000 and your savings is",sav)
    total+=sav
    print(total)

In [ ]:
numbers=["7592872355","759287","75928","124","12"]
for num in numbers:
  if len(num)<10:

In [ ]:
invalid_count = 0
valid_count = 0
valid_nums = set()

numbers=['9876543210','12453','9988776655','9876501234']
for num in numbers:
  if len(num) != 10:
    print('invalid')
    invalid_count += 1
  else:
    print('valid')
    valid_count += 1
    valid_nums.add(num)

print(f"invalid count is {invalid_count} and valid is {valid_count}")
print(f"valid_nums: {valid_nums}")

In [ ]:
i=1
while i<10:
  print(i**1)
  i +=1

In [ ]:
savings_goal=1000
current_saw=0
monthly_dep=1500
months=0
while current_saw<savings_goal:
  months+=1
  current_saw+=monthly_dep
else:
  print("you reached your goal")
  print(f"it will take {months} months to acheive your goal of {savings_goal}")

In [ ]:
student_grades={"anu":85,"bob":74,"lilly":32,"ryan":32}
for i in student_grades.keys():
  print(i)

In [ ]:


for i,j in student_grades.items():
#print(i,":",j)
 if j<50:
  print(f'{i} scored A grade')
 else:
  print(f'{i} scored B grade')
  emp1={"name":"raju",
      "salary":"45000",
      "dept":"HR"}
emp2={"name":"bolu",
      "salary":"35000",
      "dept":"IT"}
emp3={"name":"dolu",
      "salary":"40000",
      "dept":"finance"}
employees={"employee1":emp1,
           "employee2":emp2,
           "employee3":emp3}
employees

In [ ]:



for i in range(1,16):
 if(i%2==0):
  print(f'the number {i} is even')
 else :
  print(f"the number {i} is odd")

In [ ]:

count=0
for i in range(1,1001):
  if(i&8==0):
    count=count+1
print(count)

In [ ]:
for i in range(1,6):
  print('*'*i)

In [ ]:

for i in range(100,801):
  if(i%3==0 and i%7==0):
    print(i)

In [ ]:
x=5
for i in range(1,4):
  print(1*i)
def addtn(no):
  print(no)

In [ ]:
def multiply(num):
    print(num*2)
multiply(10)

In [ ]:
def send_gift(recipient,gift):
  print(f"sending{gift} to {recipient}!")
send_gift("ramu","a shovel")

In [ ]:
def send_gift(recipient,gift):
  print(f"sending{gift} to {recipient}!")
send_gift(gift="a shovel",recipient="ana lucia")

In [ ]:
raw input-accept string input from console
max- sum find
reversed- sequence reverse cheyyan
print-
input- accept input from user

In [ ]:
def book_trip(destination,transport="bus"):
  print(f"your {destination} ticket is booked and going via {transport}")
book_trip("manali","bali")

your manali ticket is booked and going via bali

In [ ]:
book_trip("idukki")

your idukki ticket is booked and going via bus

In [ ]:
def book_trip(destination,*things):
  print(f"we are going to {destination},bring {things}")
book_trip("manali","bali")

we are going to manali,bring ('bali',)

In [ ]:
def add_numbers(a,b):
    print(a+b)
result=add_numbers(5,5)

10

In [ ]:
def add_numbers(a,b):
    return a+b
my_result=add_numbers(5,5)
final_answer=my_result*2
print(f"the final answer is:{final_answer}")

the final answer is:20

In [ ]:
def square(x):
  sq=x*x
  return sq
square(5)

25

In [ ]:
addition=lambda x,y:x+y
print(addition(10,20))

30

In [ ]:
is_pass=lambda marks:"pass" if marks>40 else "else"
is_pass(55)

'pass'

In [ ]:
def square(x):
  sq=x*x
  return sq
numbers=[1,2,3,4,5]
squares=map(square,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [ ]:
square_lambda=lambda x:x*x
numbers=[1,2,3,4,5]
squares=map(square_lambda,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares=list(map(lambda x:x*x,numbers))
squares

[1, 4, 9, 16, 25]

In [ ]:
list_a=[1,2,3]
list_b=[4,5,6]
sum_lists=map(lambda x,y:x+y,list_a,list_b)
list(sum_lists)

[5, 7, 9]

In [ ]:
list_c=[2,4,-8,-5]
pstv_values=lambda x:x>0
positive_numbers=filter(pstv_values,list_c)
list(positive_numbers)

[2, 4]